/* ===== GLOBAL STYLES ===== */
* {
    box-sizing: border-box;
}

img {
    height: auto;
    width: 100px;
    border-radius: 8px;
}

body {
    font-family: 'Poppins', sans-serif;
    /* color: #FFFFFF; */
    margin: 0;
    padding: 0 15px;
    cursor: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* CARD  */
.card {
    background: transparent;
    width: 200px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.3);
}